
			
            .logo {
				width: 58px;
				height: 58px;
				float: left;
			}
			.opensource {
				width: 200px;
				height: 200px;
			}
			ul.nav {
			  list-style-type: none;
			  margin: 0;
			  padding: 0;
			  overflow: hidden;
			  background-color: #57A0D4;
			}

			li {
			  float: right;
			}

			li a.nav {
			  display: block;
			  color: #FFF;
			  text-align: center;
			  padding: 14px 16px;
			  text-decoration: none;
			  font-size: 20px;
			}

			li a:hover {
			  background-color: #FFF;
			  color: #57A0D4;
			}
			.active {
			  display: block;
			  background-color: #5282BF;
			  color: white;
			  text-align: center;
			  padding: 14px 16px;
			  text-decoration: none;
			  font-size: 20px;
			}
			.column {
		    float: left;
		    margin: auto;
		    text-align: center;
		    }

		    .row:after {
		    content: "";
		    display: table;
		    clear: both;
		    height: 200px;
		    }
		    .center {
			  display: flex;
			  justify-content: center;
			  align-items: center;
			}
