
			
            .logo {
				width: 58px;
				height: 58px;
				float: left;
			}
			.opensource {
				width: 200px;
				height: 200px;
			}
			ul.nav {
			  list-style-type: none;
			  margin: 0;
			  padding: 0;
			  overflow: hidden;
			  background-color: #57A0D4;
			}

			li {
			  float: right;
			}

			li a.nav {
			  display: block;
			  color: #FFF;
			  text-align: center;
			  padding: 14px 16px;
			  text-decoration: none;
			  font-size: 20px;
			}

			li a:hover {
			  background-color: #FFF;
			  color: #57A0D4;
			}
			.active {
			  display: block;
			  background-color: #5282BF;
			  color: white;
			  text-align: center;
			  padding: 14px 16px;
			  text-decoration: none;
			  font-size: 20px;
			}
			.column {
		    float: left;
		    margin: auto;
		    text-align: center;
		    }

		    .row:after {
		    content: "";
		    display: table;
		    clear: both;
		    height: 200px;
		    }
		    .center {
			  display: flex;
			  justify-content: center;
			  align-items: center;
			}

			/* Footer */
			.follow {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin: 30px 0 30px;
			  }
			  
			  .follow * {
				margin-right: 10px;
			  }
			  .links {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer {
	background: #f2f2f2;
	color: #616161;
	font-size: 12px;
	padding: 20px 0;
  }
  
  .footer-inner {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  .footer div {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
  }
  
  .footer div i {
	margin-right: 10px;
  }
  
  .footer ul {
	display: flex;
	flex-wrap: wrap;
  }
  
  .footer li {
	margin-right: 30px;
	margin-bottom: 20px;
  }
