@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

.direction {
	margin-top: 5%;
	margin-left: 20px;
}
.direction label{
	background-color: #03b5d2;
	padding:8px ;
	font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Hind", sans-serif;
  background: #fff;
  color: #4d5974;
  display: flex;
  min-height: 100vh;
}

.container_1 {
	
  margin: 0 auto;
  margin-top: 40px;
  padding: 4rem;
  width: 48rem;
}

.faqs .faqs-item {
  border-bottom: 1px solid #e5e5e5;
}
.faqs .faqs-item button[aria-expanded=true] {
  border-bottom: 1px solid black;
}
.faqs button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.faqs button:hover, .faqs button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.faqs button:hover::after, .faqs button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.faqs button .faqs-title {
  padding: 1em 1.5em 1em 0;
}
.faqs button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.faqs button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.faqs button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.faqs button[aria-expanded=true] {
  color: #03b5d2;
}
.faqs button[aria-expanded=true] .icon::after {
  width: 0;
}
.faqs button[aria-expanded=true] + .faqs-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.faqs .faqs-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.faqs .faqs-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer {
	background: #f2f2f2;
	color: #616161;
	font-size: 12px;
	padding: 20px 0;
  }
  
  .footer-inner {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  .footer div {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
  }
  
  .footer div i {
	margin-right: 10px;
  }
  
  .footer ul {
	display: flex;
	flex-wrap: wrap;
  }
  
  .footer li {
	margin-right: 30px;
	margin-bottom: 20px;
  }
  