/*Text fonts and stuff*/
html {
   line-height: 1.5;
   font-family: Georgia, serif;
   font-size: 20px;
   color: #1a1a1a;
   background-color: #fdfdfd;
         }

body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
 }
 .header {
   font-size: 35px; 
   position:relative; 
   top:-16px
 }
 .content {
   position: relative;
   margin: 0 auto;
   max-width: 36em;
   padding-top: 50px;
   hyphens: auto;
   height: 90%;
   overflow-y: scroll;
   overflow-wrap: break-word;
   text-rendering: optimizeLegibility;
   font-kerning: normal;
 }
/* scroll bar */

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* Main dividers */
.column {
      position: relative;
       display:inline-block;
       float: left;
       margin: auto;
       text-align: center;
       border: 3px solid #57A0D4;
       background-color: white;
       height: 11vh;
       }
.column2 {
   float: left;
       margin: auto;
       text-align: center;
       border: 3px solid #57A0D4;
       background-color: white;
       height: 87.2vh;
}
.divider {
   float: left;
   margin: auto;
   text-align: center;
   background-color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    width: 100vw;
    }

/*Buttons */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.back {
   float: left;
   display: inline-block;
   padding-left: 10px;
   padding-top: 10px;
   text-decoration: none;
}