* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

ul.course-list {
    display: flex;
    flex-direction: column;
  }
  
  ul.course-list li {
    display: block;
  }
  
header {
    background: #fff;
    padding: 1rem 0;
    text-align: center;
}
.filter-item {
    padding-left: 1em;
  }

  header h1 {
    margin-top: 20px;
    color: #000000;
    font-size: 2rem;   /* Adjust as needed */
}

section h2{
    margin-bottom: 25px;
}
aside h2{
    margin-bottom: 70px;
}

main {
    display: flex;
    padding: 8rem;
}

.logo {
    max-width: 1000px;  /* Adjust as needed */
    height: auto;
    max-height: 1000px; /* Adjust as needed */
    display: block;
    margin: 0 auto;    /* Horizontally center if it's a block element */
}
  
section {
    flex: 1
}

.course-list,
.resource-list {
    list-style: none;
    
}

.course-list li,
.resource-list li {
    margin-bottom: 1rem;
    border: 1px solid #91b4d9;;
    padding: 1rem;
    background: #91b4d9;
    display: inline-flexboxS;
    border-radius: 10px;
}

.course-list li h3,
.resource-list li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.course-list li p {
    font-size: 1rem;
    color: #fff;
}

.resource-list li a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
}

.resource-list li a:hover {
    color: #0077cc;
    text-decoration: underline;
}



aside {
    width: 25%;
    padding-right: 2rem;
}
