body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 30px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 30px;
	color: #333;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
	padding: 10px 20px;
	font-size: 18px;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
	transform: scale(1.1);
	background-color: #0069d9;
}

.message {
	margin-top: 20px;
	text-align: center;
	color: #f00;
	font-weight: bold;
	display: none;
}